*{
  margin: 0;padding: 0;box-sizing: border-box;
}

body{
  background-color:black;
  color:#1fd761;
  margin-left: 20%;
  margin-top: 10%;
}
.container{
  padding: 30px;
  width:500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
.head,.pass,.gen{
  margin: 30px;
  padding: 20px;
  position: relative;
}
img{
  width:30px;
  height: 30px;
  object-fit: contain;
}
span{
  border-bottom: 2px solid white;
}
input{
  padding: 10px;
  width: 60%;
  font-weight: lighter;
  font-size: large;
}
.cpy{
  margin-left: 0; 
}
.copy{
  padding: 4px;
  position: absolute;
  margin-left: 30px;
}
button{
  margin-left: 90px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border: 1px solid #1fd761;
}